body {
    font-family: 'Open Sans';
    background-color: white;
    background: linear-gradient(0deg, rgba(255,255,255,1) 62%, rgba(252, 144, 35, 0.612) 100%);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

nav li{
    padding: 20px;
}

.main-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.main-top img {
    width: 80%;
}

.main-top form {
    display: flex;
    flex-direction: row;
}

form {
    padding: 20px;
}

form * {
    margin: 10px;
}

.main-foods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 50px;   
}

.main-foods div {
    border: solid 1px gray;
    border-radius: 15px;
    width: 80%;
    height: 60%;
}

.main-foods img {
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-foods p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-bottom {
    background-color: rgba(252, 144, 35, 0.612);
}

.main-bottom-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.main-bottom img {
    width: 25%;
    border-radius: 15px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 40px;
}

.icons * {
    padding: 20px;
}
